swagger: "2.0"
info:
    description: "{{.Name}} - API documentation"
    version: "1.0.0"
    title: "{{.Name}}"
    license:
        name: "Open Government Licence v3.0"
        url: "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
basePath: "/v1"
tags:
- name: "Public"
- name: "Private user"
- name: "Private"
schemes:
- "http"